<h1 id="title">ember-aqua-window</h1>

<pre class="snippet"><code>
  ember install ember-cli-chrome-window
</code></pre>

<pre class="snippet">
  \{{#aqua-window}}
     Testing123.
  \{{/aqua-window}}
</pre>

{{#aqua-window}}
  Testing123.
{{/aqua-window}}
